<% layout("/layouts/boilerplate") %>
<div class="row page-wrapper">
    <h1 class="col-7 offset-3">Login</h1>
    <div class="col-7 offset-1 form-card animated-form">
        <form method="post" action="/login" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label" >Username</label>
                <input type="text" id="username" name="username" class="form-control" required >
                <br>
                <label for="password" class="form-label" >Password</label>
                <input type="password" id="password" name="password" class="form-control" required> 
          </div>
          <button type="submit" class="col-4 offset-3 fancy-btn ">Login</button>

        </form>
        <br> <br>
    </div>
</div>